* {
  padding: 0;
  margin: 2px;
  box-sizing: border-box;

}

.app-container {
  margin-top: 75px;
}

.person-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  padding: 0px;
  margin: auto;
  border: 1px solid;
}

.details-container {
  width: 100%;
}

.details-block {
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 3px solid;
  padding: 20px;
}

.address-block {
  margin-left: 25px;
  margin-top: 0;
  padding-top: 0;
}

.card {
  width: 30%;
  border: 1px solid;
  margin: 1.6%; 
  box-shadow: 3px 3px #d8d8d8;
}

.card-image {
  border-radius: 50%;
}

.card-title {
  font-size: 14px;
  text-align: center;
  margin: 1px;
}

.card-username {
  font-size: 12px;
  font-style: italic;
  text-align: center;
  margin: 1px;
  color: 
}

.card-text {
  text-align: center;
  font-size: 12px
}

.card-button-container {
  display: flex;
  justify-content: center;
}

.card-button {
  padding-left: 25px;
  padding-right: 25px;
}